#myNavbar a{
    color:white;
    font-size:17px;
    font-family:geometos;
    transition:all 0.8s ease-in-out;
}

#myNavbar a:hover {
	color:orange;
}

.navbar {
	border:0;
}

.backgroundpart {
	height:600px;
	width: 100%;
	background-color: rgb(24,40,65);
}

.navbar .navbar-brand{
	font-size: 24px;
	font-family: geometos;
	color:white;
}

.imagesection img {
	position: absolute;
	z-index: 10;
	max-width: 100%;
	top: 10%;
	left: 10%;
	opacity:0.3;
}


img.ri:empty
{
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (orientation: portrait) {
  img.ri {
      max-width: 90%;
  }
}

@media screen and (orientation: landscape) {
  img.ri {
      max-height: 90%;
  }
}

.hero_heading h1{
    color: white;
    font-size: 24px;
    font-family: geometos;
    margin: 0 auto;
    left:0px;
    right:0px;
    position: absolute;
    z-index: 20;
    top:100px;
}

@media (max-width: 480px) {
    .hero_heading h1{
    font-size:12px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .hero_heading h1{
    font-size:16px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .hero_heading h1{
    font-size:20px;
    }
}

@media (min-width: 980px) {
  .hero_heading h1{
  font-size:24px;
  }
}

.stylish-input-group{
	position: relative;
	z-index: 20;
	top: 140px;
	left: 0px;
	right:0px;
	margin:0 auto;
}

.stylish-input-group .input-group-addon{
    background: rgb(80,94,119);
}
.stylish-input-group .form-control{
	color: white;
	height:40px;
	background-color: rgb(80,94,119);
}

input.form-control {
	border: 0px;
	outline: none;
}


.stylish-input-group button{
	border:0px;
	outline:none;
    background: rgb(80,94,119);
}

.input-group-addon{
	border:0px;
	outline:none;
	color:white;
}

.description p{
    color: white;
    font-size: 18px;
    margin: 0 auto;
    left:0px;
    right:0px;
    position: relative;
    z-index: 20;
    top:180px;
}

@media (max-width: 480px) {
    .description p{
    font-size:12px;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .description p{
    font-size:14px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .description p{
    font-size:18px;
    }
}

@media (min-width: 980px) {
  .description p{
  font-size:18px;
  }
}

.top-students h4 {
	color: rgb(80,94,119);
	text-decoration: underline;
	position: relative;
	z-index: 20;
	top:220px;
}

.students-images {
	position: relative;
	top:220px;
	z-index: 20;
}

.students-images img{
	width:100%;
	height:180px;
	margin-top: 5px;
}

.students-images img:hover{
	cursor: pointer;
}


.card-block h3{
	text-align: center;
	border:1px solid-black;
	font-size:14px;
}

.card-block a{
	color:black;
	font-family: geometos;
	font-size: 18px;
}

.card {
	background-color: gray;
	box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.body {
	background-color: white;
	height:500px;
}

.body h3 {
	font-family: geometos;
	text-decoration: underline;
}

.footer {
	background-color: rgb(24,40,65);
	height:50px;
	padding-top: 15px;
}


.cell a{
	color:white;
	font-size: 15px;
	font-style: helvetica;
	padding-left: 10px;
}